* {
  box-sizing: border-box;
}

body {
    position: relative;
    padding: 0%;
    margin: 0%;
    width: 100vw;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/002/532/592/small/light-purple-abstract-blur-background-vector.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.message{
    position: absolute;
    width: 50%;
    margin: auto;
    padding: 1rem 2rem;
    top: 10px;
    color: white;
    font-size: large;
    border-radius: 10px;
}
.container {
    background-color: aliceblue;
    max-width: 800px;
    width: 70%;
    height: auto;
    padding: 1rem 2rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}
.first {
    height: auto;
    width: 100%;
    padding: 5px 10px;
    display: flex;
    flex-direction: row-reverse;
}
.second {
    height: 40vh;
    width: 100%;
    padding: 0 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cityName {
    margin: 0px;
    font-size: 2.5rem;
    font-stretch: extra-expanded;
}
.dateYear {
    margin: 0px;
    font-size: 1.5rem;
    font-stretch: extra-expanded;
}
.cloudLogo {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: gray;
}
.weatherDescription {
    margin: 5px;
    font-size: 1.7rem;
    font-weight: 600;
    font-stretch: extra-expanded;
}
.weatherDetail .tempValue {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;;
    margin: 0px;
    font-size: 10rem;
    font-weight: 200;
}
.weatherDetail sup {
    position: absolute;
    font-size: 2rem;
    top: 10px;
}
.pressureAndHumidity {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    font-size: 1rem;
    font-weight: 100;
}
.three {
    display: flex;
    flex-direction: row-reverse;
}